$xs: "only screen and (min-width : 576px)";
$sm: "only screen and (min-width : 768px)";
$md: "only screen and (min-width : 992px)";
$lg: "only screen and (min-width : 1200px)";
$sl: "only screen and (min-width : 1340px)";
$xlg: "only screen and (min-width : 1440px)";
$xxl: "only screen and (min-width : 1600px)";
$ulg: "only screen and (min-width : 1800px)";


$mainThemeColor: #28536F;
$secThemeColor:#FEC200;
$mainFont: 'Montserrat', sans-serif;
$baseWhite: #fff;
$baseBlack: #000;
$baseGray: #4f4f4f;
$themeNavyBlue: #556879;
$themeBlue: #28536F;
$mainTextColor: #2c3238;
$lightGrayText:#8a9096;
$btnColor:#FEC200;
